html {
  box-sizing: border-box;
background-color: #dbd6cf;
font-family: Bevan, sans-serif;
line-height: 1.5;
}

*, *::before, *::after {
  box-sizing: inherit;
}

h1{
  color: #fff;
  display: block;
  text-align: center;
}

.space a {
display: inline-block;
padding: .75em .6em;
background-color: #713837;
color: #fff;
border-radius: 4px;
text-decoration: none;
}
